<a href="https://colab.research.google.com/github/MartaSolarz/Data_science_theory/blob/main/02_pandas/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* @author: krakowiakpawel9@gmail.com  
* @site: e-smartdata.org

### Pandas
>Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
>Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)
>
>Podstawowa biblioteka do analizy danych w języku Python.
>
>Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```
### Spis treści:
1. [Podstawowe struktury danych: pd.Series](#a1)
2. [Podstawowe struktury danych: pd.DataFrame](#a2)
3. [Selekcja kolumn](#a3)

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

### <a name='a1'></a>  Podstawowe struktury danych: pd.Series

In [2]:
s = pd.Series(data=[3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [3]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [4]:
s = pd.Series(data=[3., 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [5]:
import numpy as np

s = pd.Series(data=[3., np.nan, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [6]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [7]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [8]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [9]:
s.dtypes

dtype('int64')

In [10]:
s = pd.Series(data=['python', 'java', 'sql'], name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [11]:
type(s)

pandas.core.series.Series

In [12]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [14]:
s.dtypes

dtype('O')

In [15]:
s.shape

(3,)

#### Series: Praca z obiektem

In [17]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900})
price

Apple          200
CD Projekt      60
Amazon        1900
dtype: int64

In [21]:
price.loc['CD Projekt']

60

In [20]:
price.iloc[1]

60

In [22]:
price.count()

3

In [23]:
price.value_counts(dropna=False)

200     1
60      1
1900    1
dtype: int64

In [24]:
price.sum()

2160

In [25]:
price.min()

60

In [26]:
price.max()

1900

In [27]:
price.std()

1024.3046421841502

In [28]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [29]:
price.nlargest(2)

Amazon    1900
Apple      200
dtype: int64

In [30]:
price.nsmallest(2)

CD Projekt     60
Apple         200
dtype: int64

In [32]:
price.rank()  # ranking

Apple         2.0
CD Projekt    1.0
Amazon        3.0
dtype: float64

In [33]:
price.sort_values()

CD Projekt      60
Apple          200
Amazon        1900
dtype: int64

In [34]:
price.sort_values(ascending=False)

Amazon        1900
Apple          200
CD Projekt      60
dtype: int64

In [35]:
price_pln = price.apply(lambda x: x * 3.8)

In [37]:
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
dtype: float64

# <a name='a2'></a>  Podstawowe struktury danych: pd.DataFrame

In [38]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [39]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [40]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'],
                        'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [41]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [42]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [43]:
df.index

Index(['first', 'second'], dtype='object')

In [44]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

In [46]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 173.0 bytes

In [47]:
df.describe()

           col_1  col_2     col_3
count   2.000000    2.0   2.00000
mean   16.500000   12.0  11.50000
std     9.192388    0.0   2.12132
min    10.000000   12.0  10.00000
25%    13.250000   12.0  10.75000
50%    16.500000   12.0  11.50000
75%    19.750000   12.0  12.25000
max    23.000000   12.0  13.00000

In [48]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

### <a name='a3'> </a> Selekcja kolumn

In [49]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [54]:
df['col_1']

# alternatywnie

df.col_1

first     10
second    23
Name: col_1, dtype: int64

In [51]:
type(df['col_1'])

pandas.core.series.Series

In [53]:
df[['col_1']]

first     10
second    23
Name: col_1, dtype: int64

In [55]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [56]:
df.columns = ['a', 'sprzedaz_grudzien', 'c']
df

         a  sprzedaz_grudzien   c
first   10                 12  13
second  23                 12  10

In [57]:
df.sprzedaz_grudzien

first     12
second    12
Name: sprzedaz_grudzien, dtype: int64

In [58]:
df['d'] = df.a + df.c
df

         a  sprzedaz_grudzien   c   d
first   10                 12  13  23
second  23                 12  10  33

In [59]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [60]:
df.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [61]:
df.loc['first', 'col_2']

12

In [62]:
df.loc[:, 'col_2']

first     12
second    12
Name: col_2, dtype: int64

In [63]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [64]:
df.iloc[0, 1]

12